<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
      </a>
    </div>
    
    <app-product-category-menu></app-product-category-menu>

  </aside>

  <!-- END MENU SIDEBAR-->




  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

            
            
            <app-search></app-search>  <!--search box-->
            

            <!--Name and logout button-->

            <div>
              <a *ngIf="!loggedIn" mat-icon-button routerLink="/login">Login</a>
            <!-- <a style="margin-right: 9px; font-size: large; color:black" *ngIf="loggedIn" >{{name}}</a> -->
           <!-- <a *ngIf="loggedIn"  (click)="logoutUser()" mat-icon-button routerLink="/login">Logout</a>-->
            <!-- <button *ngIf="loggedIn" type="button"  (click)="logoutUser()" class="btn btn-danger btn-sm" routerLink="/login">Logout</button> -->
            </div>







            <!--dropdown-->

           <div *ngIf="loggedIn">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{name}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">My Account</button>
                <button class="dropdown-item">My Orders</button>
                <button class="dropdown-item">My wishlist</button>
                <button routerLink="/cart-details/{{userId}}" class="dropdown-item">My Cart</button>
                <button class="dropdown-item" *ngIf="loggedIn"  (click)="logoutUser()"  routerLink="/login">Logout</button>
              </div>
            </div>
          </div>

          




         




           <!-- <app-modal></app-modal>  -->



          
























            <app-cart-status></app-cart-status> <!--Cart Icon and information-->



          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->


    <!-- MAIN CONTENT-->

    
    <router-outlet></router-outlet>
  
   



    <!-- END PAGE CONTAINER-->
  </div>
</div>

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>