<div class="detail-sction">
<div class="container-fluid">

    <img src="{{product.imageURL}}"  class="detail-img">
    <h3>{{product.name }}</h3>
    <div class="price"  >{{product.price | currency:'INR'}}</div>
    <a href="#" class="primary-btn">Add to Cart</a>

    <hr>
    <img src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90" width="18" height="18" class="_3HLfAg">
    <h4>Description</h4>
    
    <p>{{product.description}}</p>



    




    <a routerLink="/product">Back to productlist</a>
</div>


</div>
